

html,body {
    font-family: Verdana, Arial;
    font-size: 16px;
    background-color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box
}

div#mme-tool {
    margin: 0;
    padding: 0;
    min-height: 100%;
    /*background-color: gray;*/
}

.screen {
    margin: 0;
    display: none;
    background-repeat: no-repeat;
}

#menu, #settings {
    padding: 50px;
    display: flex;
    flex-flow: column;
}

#menu {
    height: 100vh;
}

#session, #comment {
    size: "20";
}


video {
    width: 100%;
    height: auto;
}

button {
    font-size: 16px;
    height: 30px;
}

#options {
    width: 100%;
    display: block;
}


#btn-introduction {
    width: 100%;
}

.stepButtons {
    width: 200px;
    margin: 10px;
}

.otherBtn {
    width: 160px;
    margin: 10px;
}

 /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabContent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

td {
    padding: 5px;
}

.mappingTypesTable {
    padding: 20px;
}

.hCentered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

